<div class="footer">
  <div class="footer-social">
    <h1>Wil je meer weten over ons?</h1>
    <h3>Neem dan contact met ons op!</h3>

    <div class="socials">
      <div>
        <a href="{{ socialLinks.facebook }}" target="_blank"
          ><i class="fab fa-facebook"> </i
        ></a>
      </div>
      <div>
        <a href="{{ socialLinks.instagram }}" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
      <!-- <div>
        <a href="{{ socialLinks.whatsapp }}" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div> -->
      <div>
        <a href="{{ socialLinks.email }}"><i class="far fa-envelope"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-policy">
    <p>
      Etiam sodales vel elit id finibus. Etiam a lorem a mi pulvinar
      condimentum. Nunc ullamcorper ipsum eu aliquam placerat. Quisque quis
      dignissim mauris. Phasellus pulvinar arcu dolor, et mollis quam maximus
      quis. Curabitur nec posuere dolor. Donec aliquam purus interdum eros
      convallis, ac aliquet mi ullamcorper jenkins ipsum random.
    </p>
  </div>
</div>

<!-- <div class="social-media">
  <div class="titles">
    <h1>Wil je meer weten over ons?</h1>
    <h3>Neem dan contact met ons op!</h3>
  </div>

  <div class="socials">
    <div>
      <a href="{{ socialLinks.facebook }}" target="_blank"><i class="fab fa-facebook"> </i></a>
    </div>
    <div>
      <a href="{{ socialLinks.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
      <a href="{{ socialLinks.whatsapp }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div>
      <a href="{{ socialLinks.email }}"><i class="far fa-envelope"></i></a>
    </div>
  </div>
</div>

<div class="footer">
  <p>
    Etiam sodales vel elit id finibus. Etiam a lorem a mi pulvinar condimentum. Nunc ullamcorper ipsum eu aliquam placerat. Quisque quis dignissim
    mauris. Phasellus pulvinar arcu dolor, et mollis quam maximus quis. Curabitur nec posuere dolor. Donec aliquam purus interdum eros convallis, ac
    aliquet mi ullamcorper jenkins ipsum random.
  </p>
</div> -->
