<div class="overview">
  <div class="titles">
    <h1>Overzicht Kosten</h1>

    <p>
      <strong>Totale reissom € {{ total }}</strong> <br />
        Tickets & landarrangement € {{ total - airport }} <br />  
 
 
      Luchthavenbelastingen & toeslagen € {{ airport }} <br />

      Reserveringskosten € {{ reservation }} <br />
    </p>
    <p>
      Bij het maken van de offerte is een stoeloptie genomen op de vermelde vluchten. Landarrangementen zijn altijd op aanvraag, tenzij anders
      vermeld. Wij verzoeken u vriendelijk ons binnen 7 dagen na dagtekening te laten weten wat u van deze mooie offerte vindt. Prijzen zijn onder
      voorbehoud.
    </p>
  </div>

  <div class="lists">
    <div class="listwrap">
      <div class="listblk">
        <!-- <i class="far fa-dot-circle green" -->
        <!-- <h3>Inclusief</h3> -->
        <!-- <vtb-elements-list [optional]="false" [unitIds]="[2]" [reverseUnitIds]="true" [dataSource]="itinerary.segments"></vtb-elements-list> -->
        <!-- <ul class="custom-list">
          <li>
            <a href="#">Engelssprekende lokale gids</a>
          </li>
          <li>
            <a href="#">Privé transfers van en naar het vliegveld</a>
          </li>
          <li>
            <a href="#">Maaltijden zoals per dag beschreven (Ontbijt/Lunch/Diner) </a>
          </li>
        </ul> -->
      </div>
    </div>
    <div class="listwrap">
      <div class="listblk">
        <!-- <i class="far fa-dot-circle red"></i>&nbsp; -->
        <!-- <h3>Exclusief</h3> -->
        <!-- <vtb-elements-list [optional]="true" [unitIds]="[2]" [reverseUnitIds]="true" [dataSource]="itinerary.segments"></vtb-elements-list>  -->
        <!-- <ul class="custom-list exclusief">
          <li>
            <a href="#">Reisverzekeringen</a>
          </li>
          <li>
            <a href="#">Annuleringsverzekering; LET OP vóór de reis een kort- of doorlopende verzekering afsluiten (indien gewenst) </a>
          </li>
          <li>
            <a href="#">Visumkosten </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
