<div class="program" data-block="program">
  <div class="titles">
    <h1>Programma</h1>
    <h3>Lees hieronder het programma van dag tot dag</h3>
  </div>

  <!-- <vtb-segments
      [dataSource]="itinerary.segments"
      [segmentFields]="[
        { name: 'media', slider: true, sliderInterval: 3000, sliderControls: true },
        { name: 'day', prefix: 'Dag ', tag: 'span' },
        { name: 'title', tag: 'h2' },
        { name: 'subTitle', tag: 'h4' },
        { name: 'content', tag: 'p' }
      ]"
    ></vtb-segments> -->

  <div class="custom-program">
    <div class="program-parent" *ngFor="let customprogram of this.program">
      <div class="program-img" *ngIf="customprogram.content">
        <div *ngIf="customprogram.media?.length == 1">
          <img src="{{ customprogram.media[0].url }}" alt="" />
        </div>
        <div class="silder-arrow" *ngIf="customprogram.media.length > 1">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)"
          >
            <div ngxSlickItem *ngFor="let slide of customprogram.media" class="slide">
              <ul>
                <li>
                  <img src="{{ slide.url }}" alt="" />
                </li>
              </ul>
            </div>
          </ngx-slick-carousel>
        </div>

      </div>
      <div class="program-content" *ngIf="customprogram.content">
        <span class="day">Dag {{ customprogram.day }}</span>
        <!-- <span class="day" *ngFor= "let diffday of differenceDay"> {{diffday}}</span> -->
        <h2 class="">{{ customprogram.title }}</h2>
        <div innerHTML="{{ customprogram.content }}"></div>
      </div>
    </div>
    <!-- second div start of the program section -->
    <!-- <div class="program-parent">
          <div class="program-img">
            <img src="https://via.placeholder.com/350x350" />
          </div>
          <div class="program-content">
            <span  class="day">Dag 2</span>
            <h2 class=""> Vliegticket van Amsterdam Schiphol naar Singapore Airport  </h2>
            <p>
              U vertrekt op maandag 16 december 2019 om 10:25 uur 's morgens van Amsterdam Schiphol. U vliegt met Singapore Airlines, het vluchtnummer is SQ 323. De reisduur bedraagt 12 uren en 30 minuten (Non-stop). U komt aan op dinsdag 17 december 2019 om 05:55 uur 's morgens op Singapore Airport.
            </p>
            <div class="table-responsive">
              <table><tbody><tr> <th>Vlucht vertrek</th> <th>Van</th> <th>Naar</th> <th>Aankomst</th> <th>Vluchtnr</th> <th>Duur</th> <th>Stop</th> </tr><tr> <td>maandag 16 december 2019 10:25 uur 's morgens</td> <td>Amsterdam Schiphol</td> <td>Singapore Airport</td> <td>dinsdag 17 december 2019 05:55 uur 's morgens</td> <td>SQ 323</td> <td>12 uren en 30 minuten</td> <td>(Non-stop)</td> </tr></tbody></table>
            </div>
          </div>
      </div> -->
    <!-- <div>
          <ul>
            <li><angular-image-slider [images]="imagesUrl"></angular-image-slider></li>
          </ul>
      </div> -->

    <!-- You can now use your library component in app.component.html -->
  </div>
 

  
</div>
