<div class="map">
  <div class="titles">
    <h1>Bestemming</h1>
    <h3>Hier gaat de reis naartoe</h3>
  </div>
  <agm-map
    [latitude]="markers[0].latitude"
    [longitude]="markers[0].longitude"
    [zoom]="2"
    [scrollwheel]="false"
    [styles]="[
      { featureType: 'all', elementType: 'labels', stylers: [{ visibility: 'off' }] },
      { featureType: 'administrative', elementType: 'all', stylers: [{ visibility: 'on' }] },
      { featureType: 'administrative.country', elementType: 'geometry', stylers: [{ visibility: 'simplified' }, { hue: '#ff0000' }] },
      {
        featureType: 'administrative.country',
        elementType: 'geometry.stroke',
        stylers: [{ weight: '0.75' }, { visibility: 'on' }, { color: '#e5e9e2' }]
      },
      { featureType: 'administrative.country', elementType: 'labels', stylers: [{ visibility: 'off' }, { weight: '0.01' }, { lightness: '79' }] },
      { featureType: 'administrative.province', elementType: 'geometry.stroke', stylers: [{ weight: '0.01' }] },
      {
        featureType: 'landscape',
        elementType: 'geometry',
        stylers: [{ saturation: '-92' }, { lightness: '41' }, { gamma: '2' }, { visibility: 'on' }]
      },
      { featureType: 'landscape.man_made', elementType: 'geometry', stylers: [{ saturation: '-73' }] },
      { featureType: 'landscape.natural', elementType: 'geometry', stylers: [{ hue: '#ffc600' }, { saturation: '27' }, { lightness: '24' }] },
      { featureType: 'landscape.natural.landcover', elementType: 'geometry.stroke', stylers: [{ invert_lightness: true }] },
      {
        featureType: 'landscape.natural.terrain',
        elementType: 'geometry',
        stylers: [{ hue: '#eaff00' }, { lightness: '0' }, { saturation: '-100' }, { gamma: '2' }]
      },
      { featureType: 'landscape.natural.terrain', elementType: 'geometry.fill', stylers: [{ saturation: '-95' }, { lightness: '-100' }] },
      { featureType: 'poi.park', elementType: 'geometry', stylers: [{ saturation: '-39' }, { lightness: '84' }] },
      { featureType: 'poi.park', elementType: 'geometry.stroke', stylers: [{ visibility: 'off' }] },
      {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [{ color: '#e9e8e2' }, { lightness: '-8' }, { saturation: '-100' }, { weight: '1.00' }]
      },
      { featureType: 'road', elementType: 'geometry.stroke', stylers: [{ weight: '0.01' }, { lightness: '-50' }] },
      { featureType: 'road.highway', elementType: 'geometry.fill', stylers: [{ visibility: 'on' }, { weight: '0.20' }, { lightness: '-4' }] },
      { featureType: 'road.highway', elementType: 'geometry.stroke', stylers: [{ weight: '0.01' }, { visibility: 'off' }] },
      { featureType: 'road.arterial', elementType: 'geometry.fill', stylers: [{ weight: '0.50' }, { lightness: '40' }] },
      { featureType: 'road.arterial', elementType: 'geometry.stroke', stylers: [{ weight: '0.01' }, { visibility: 'off' }] },
      { featureType: 'road.local', elementType: 'all', stylers: [{ visibility: 'off' }] },
      { featureType: 'road.local', elementType: 'geometry', stylers: [{ weight: '6.79' }, { gamma: '0.94' }] },
      { featureType: 'road.local', elementType: 'geometry.fill', stylers: [{ weight: '0.10' }, { lightness: '-23' }, { gamma: '7.23' }] },
      { featureType: 'road.local', elementType: 'geometry.stroke', stylers: [{ weight: '.1' }, { color: '#ff0000' }] },
      { featureType: 'transit.line', elementType: 'geometry', stylers: [{ color: '#8bc7d6' }, { weight: '0.3' }] },
      { featureType: 'transit.station.airport', elementType: 'geometry.fill', stylers: [{ saturation: '-62' }, { lightness: '6' }] },
      {
        featureType: 'transit.station.airport',
        elementType: 'geometry.stroke',
        stylers: [{ saturation: '-83' }, { lightness: '-71' }, { weight: '2.94' }]
      },
      { featureType: 'water', elementType: 'geometry', stylers: [{ color: '#d4eaec' }] },
      { featureType: 'water', elementType: 'geometry.fill', stylers: [{ color: '#00c2ff' }] },
      { featureType: 'water', elementType: 'labels', stylers: [{ visibility: 'off' }, { color: '#9fd0d6' }] },
      { featureType: 'water', elementType: 'labels.text.stroke', stylers: [{ visibility: 'off' }] }
    ]"
  >
    <!-- <agm-marker [latitude]="52.368" [longitude]="4.9036">
      <agm-info-window>Börk</agm-info-window>
    </agm-marker> -->
    <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude">
      <agm-info-window>
        <strong>{{ m.searchPlace }}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="places">
    <div class="place" *ngFor="let m of markers">
      <i class="fas fa-map-pin"></i>

      <p>{{ m.searchPlace }}</p>
    </div>
  </div>
</div>
